

.app-security-list, .app-security-select {
    font-family: sans-serif;
    font-size: 12px;
    margin:10px;
}

.app-security-list ul {
    list-style: none;
}

.app-security-list li {
    margin-bottom: 10px;
}

.app-security-list {
    width: 370px;
    height: 360px;
    overflow-y: scroll;
    margin-top: 20px;
    border: 1px solid #999;
}

    .app-security-list .app-message {
        min-width: 105px;
        background-color: red;
        color: white;
        display: inline-block;
        margin: 5px;
        margin-left: 0;
        padding: 3px;
    }

    .app-security-list .app-name {
        display: inline-block;
    }

    .app-security-list .app-datetime {
        font-size: 10px;
    }

    .app-security-list .non-error {
        background-color: green;
    }
